/***************************************************************
 * SIGNUP VIEW
***************************************************************/
.SIGNUP_WRAP{
    width: 500px;
    margin: 10% auto;
    border: 10px solid #346eeb;
    padding: 10px;
}

.TITLE {
    text-align: center;
    font: "고딕";
    font-size: 2em;
    font-style: bond;
    color: blue;
}

#SIGNUP_INPUT_CONTAINER {
    height: 260px;
}

#BUTTON_CONTAINER{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#SIGNUP_CANCEL, button {
    width: 30%;
    height: 50px;
    color : rgb(237, 238, 241);
    font: "고딕";
    font-size: 1.5em;
    font-style: bond;
    margin: 15px auto;
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: rgb(26, 148, 219);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

button#SIGNUP_DELETE{
    display: none;
}


/***************************************************************
 * EXCEPTION VIEW
***************************************************************/
.EXCEPTION_VIEW {
    display: none;
    color: red;
    font: "고딕";
    font-size: 20px;
    font-style: bold;
    margin: 300px auto;
    text-align: center;
}

